let app = express();
app.set("view engine", "pug");

extends layout

block content
  h1= Add Mods
  let query = req.query 
  console.log(`rows ${query.rows}`) 
  console.log(`cols ${query.cols}`)
  {title: ‘Addmods’, query: query}
  p #{query.cols} #{query.rows}
  